<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/images/logo.svg" alt="">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Collection</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Stores</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Press</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
      </ul>
    </div>
  </div>
</header>
